{% extends '::base.html.twig' %}

{% block body %}
<head>
    <title>
        You are signed in as Dasclockwork@Reddit.com!
    </title>
</head>

<body>
    <h3>Enter City/State to see a list of Longboarders near you!!!</h3>

</body>

{% endblock %}